src/__pycache__/
src/resources/__pycache__/
SupportBot/
src/db/__pycache__/check_data.cpython-312.pyc
src/db/__pycache__/db.cpython-312.pyc
src/TechSupport.db
src/db/__pycache__/check_for_qsl_injection.cpython-312.pyc
src/output.txt
src/AllTickets.txt
